html {
  box-sizing: border-box;
  font-size: 10px;
  background: #8E24AA;
  background: -webkit-linear-gradient(45deg, #42a5f5 0%, #478ed1 50%, #0d47a1 100%);
  background: linear-gradient(45deg, #42a5f5 0%, #478ed1 50%, #0d47a1 100%); }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  max-height: 100vh; }

.slider-value {
  font-size: 2em; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.container > * {
  max-width: 500px; }

.image-container {
  width: 100%;
  height: auto;
  background-position: center; }

.hidden {
  display: none; }

table td {
  border: 1px solid black;
  padding: 0;
  margin: 0; }

table.grxd {
  width: 100%;
  height: 100%; }

.background-image {
  width: auto;
  height: 500px; }

.display__time-left {
  font-weight: 100;
  font-size: 10rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05); }

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.timer__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.timer__controls > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.timer__controls form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.timer__controls input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
  padding: 2rem; }

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: 'Inconsolata', monospace; }

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0; }

.display {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.display__end-time {
  font-size: 2rem;
  color: white; }
